<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem somos</title>
</head>
<body bgcolor="#f5f5f5">
    <table border="0" width="1280" align="center">
        <tr>
            <td height="100"><img src="imgs/e-book.png" width="70"></td>
            <td align="right">
                <a href="../index.html">Home</a>  &nbsp;&nbsp;|
                <a href="livros.html">Quem Somos</a>&nbsp;&nbsp;|  
                <a href="">Contato</a> 
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>Entre em contato</h2>
                <p>
                    Lorem, dolor sit amet consectetur adipisicing elit.
                </p>
                <hr>
                <form>
                    Seu e-mail: <br>
                    <input type="text" name="email"><br><br>

                    Assunto: <br>
                    <input type="text" name="assunto"><br><br>

                    Descrição:<br>
                    <textarea></textarea><br><br>

                    <input type="submit" value="Enviar"><br>
                </form>
            </td>
        </tr>
        
            <td colspan="2" align="center">
                <h4>Todos os direitos reservados</h4>
            </td>
        </tr>
    </table>
</body>
</html>