<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem somos</title>
</head>
<body bgcolor="#f5f5f5">
    <table border="0" width="1280" align="center">
        <tr>
            <td height="100"><img src="imgs/e-book.png" width="70"></td>
            <td align="right">
                <a href="../index.html">Home</a>  &nbsp;&nbsp;|
                <a href="">Quem Somos</a>&nbsp;&nbsp;|  
                <a href="contato.html">Contato</a> 
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>Quem Somos</h2>
                <p>
                    Lorem, <strong>dolor sit amet</strong>  consectetur adipisicing elit. Illum aliquid incidunt ipsum facilis, accusamus consequuntur nihil minima quis eligendi. Id eos tenetur laudantium commodi in dignissimos alias praesentium tempora consequuntur repellat harum esse soluta, nam ipsa dolores, qui libero magnam! Dolorem libero modi ipsam ab numquam, incidunt eligendi harum, unde est nostrum culpa id, natus facilis eos. Quos magnam cumque fuga, maiores velit id vel perspiciatis. Maiores eligendi, vitae adipisci perspiciatis odio sunt doloremque quidem facilis eaque dolores vero ipsa est quod voluptatibus ad, distinctio explicabo non. Exercitationem praesentium magnam, nostrum repellat voluptate nulla consectetur voluptatem deleniti illo pariatur aliquam inventore, iure, dicta provident ut eius. Nulla libero, voluptatum tempore nam fuga eaque et unde praesentium fugiat obcaecati laudantium ipsum nihil deleniti sequi voluptas! 
                </p>
                <h2>5 Motivos para visitar a Biblioteca Sonho</h2>
                <ol>
                    <li>Livros de todos os gêneros</li>
                    <li>Ambiente agradável e com sofás de puffs aconchegantes</li>
                    <li>Chá e café de cortesia</li>
                    <li>QRCodes com descontos de ebooks</li>
                    <li>Wifi grátis</li>
                </ol>
                <hr>
                <h2>Nosso objetivo</h2>
                <p>
                    Tornar a leitura disponivel <strong>para todos</strong> ipsam exercitationem earum dicta totam  quis tenetur natus ea necessitatibus ullam sunt repudiandae illum doloribus in autem eveniet maxime? Quasi, accusantium corporis ducimus distinctio cumque fuga perferendis harum amet vel et eum esse, nesciunt optio laudantium neque repellat dicta officiis exercitationem vero tempora aperiam <strong>explicabo!</strong> Sunt minima aliquam beatae architecto, voluptatem corrupti totam repellendus corporis iure ad nihil consequuntur voluptas tempore expedita itaque ut rem minus. Totam.
                </p>
                <hr>
            </td>
        </tr>
        
            <td colspan="2" align="center">
                <h4>Todos os direitos reservados</h4>
            </td>
        </tr>
    </table>
</body>
</html>